<h2>Catch them all!</h2>

<!-- <mat-form-field>
  <mat-label>Search a Pokémon</mat-label>
  <input
    matInput
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
  />
</mat-form-field> -->

<mat-list
  class="pokemon-mat-list"
  infiniteScroll
  alwaysCallback="true"
  scrollWindow="false"
  (scrolled)="onScroll()"
>
  <mat-list-item *ngFor="let pokemon of pokemons" (click)="onSelect(pokemon)">
    <img
      matListAvatar
      src="../../assets/img/sprites/{{ pokemon.id }}.png"
      alt="{{ pokemon.name }}"
    />
    <!-- <img matListAvatar src="../../assets/img/sprites/" alt="{{pokemon.name}}"> -->
    <p matLine>
      <span> {{ pokemon.id }} </span>
      <span class="demo-2">. {{ pokemon.name }} </span>
    </p>
  </mat-list-item>
</mat-list>
